﻿@model Note

@{
    ViewData["Title"] = "Create new note";
}

<form asp-action="Add" method="POST">
    <label asp-for="Title">Title</label>
    <br />
    <input asp-for="Title" />
    <br />
    <label asp-for="Body">Body</label>
    <br />
    <input asp-for="Body" />
    <button type="submit">Add</button>
</form>