﻿@using Humanizer
@model Note

@{
    ViewData["Title"] = "Note details";
}

<img src="@Model.Identicon" width="75" height="75" />
<br/>
<label>Title:</label>
<br/>
<label>@Model.Title</label>
<br/>
<label>Created:</label>
<br/>
<label>@Model.CreatedAt.Humanize()</label>
<br/>
<label>Body:</label>
<br/>
<label>@Model.Body</label>

<div class="panel-footer delete-item-form">
    <form asp-action="Delete" asp-route-id="@Model.Id" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>