﻿@using Humanizer
@model NotesViewModel


@{
    ViewData["Title"] = "Notes list";
}

<div class="panel-header search-item-form">
    @await Html.PartialAsync("SearchPartial", new NotesSearchViewModel())
</div>

<div class="panel panel-default notes-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>Identicon</td>
            <td>Title</td>
            <td>Created</td>
        </tr>
        </thead>

        @foreach (var note in Model.Notes)
        {
            <tr>
                <td><img src="@note.Identicon" width="50" height="50"/></td>
                <td><a asp-action="Details" asp-route-id="@note.Id">@note.Title</a></td>
                <td>@note.CreatedAt.Humanize()</td>
            </tr>
        }
    </table>
</div>

<div class="panel-footer add-item-form">
    <form asp-action="Create" method="GET">
        <button type="submit">Create</button>
    </form>
</div>